header {
  background: rgb(40, 43, 40);     
  color: white;
  text-align: center;
  padding: 10px;  
  font-style: italic;
}
nav{
  margin-top: 10px;
}
nav a{
  color: white;
  margin: 20px;
  text-decoration:solid;
}
nav a:hover{
  text-decoration: underline;
  color: rgb(190, 7, 7);
}
body{
  background-color:  rgb(131,188,169);
}
footer {
      background-color: #222;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
}
#alertBtn {
  background-color: springgreen;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: inline-block;
  text-align: center;
}

#alertBtn:hover {
  background-color: rgb(1, 143, 72);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#alertBtn:active {
  background-color:rgb(1, 143, 72);
  box-shadow: none;
}
