* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color:  darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 1.8rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
  width: 100%;
  max-width: 1200px;
}

.form {
  background-color: #b9a4a4; 
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 400px;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.form button {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form button:hover {
  background-color: darkgray;
}

ul#taskList {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

ul#taskList li {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}

ul#taskList li.done {
  text-decoration: line-through;
  color: gray;
}
